/**
 * Custom palette here.
 *
 * ref：https://v1.vuepress.vuejs.org/zh/config/#palette-styl
 */

$accentColor = #FD9C66
$textColor = #FFFFFF
$borderColor = #eaecef
$codeBgColor = #292929
$BgColor = #4BA5D8
$borderColor = #4BA4D8
