/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home .hero
  font-family: 'Montserrat', sans-serif;

.home .hero img
  max-width 450px!important

.search-box input
  color: #000000!important

html
  background-color: #19293C!important

body
  background-color: #19293C!important

body
  font-family: 'Roboto', sans-serif

body h1
  font-family: 'Montserrat', sans-serif

body h2
  font-family: 'Montserrat', sans-serif

body h3
  font-family: 'Montserrat', sans-serif

body h4
  font-family: 'Montserrat', sans-serif

page-container
  background-color: #19293C!important

.navbar
  background-color: #19293C!important
  border-bottom: 0px

.navbar .links
  background-color: #19293C!important

.sidebar
  background-color: #19293C!important
  border-right: 0px

.home .features
  border-top: 0px!important

.home .footer
  border-top: 0px!important

.home .feature h2
  color: #FD9C66!important
  font-family: 'Montserrat', sans-serif;
